# Banco de Dados
DATABASE_URL="postgresql://postgres:festflow123@localhost:5432/festflow_db?schema=public"

# Autenticação
JWT_SECRET="festflow_secret"

# Pagamentos (Stripe & Mercado Pago)
MP_ACCESS_TOKEN="APP_USR-..."
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_PUBLIC_KEY="pk_test_..."
